*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #0281f8;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.3em 0.3em 0.8em rgba(0,0,0,.25),
          0.25em 0.25em 0.3em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    
}

section {
    padding: 5em 2em
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    font-size: var(--fs-h3);
}

.section__subtitle--about,
.section__subtitle--intro {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

nav {
    display: none;
}

/* Intro Section */

.intro {
    position: relative;
}

.img__intro {
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        
    }

    .img__intro{
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        
    }
    
}

/* About Me Section */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
   .about-me{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
    }

    .section__title--about,
    .section__subtitle--about {
        grid-column: 1;
    }

    .about-me__img {
        grid-row: 1 / -1;
        grid-column: 2;
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 3em);
    }
    .about-me__img{
        grid-area: img;
        position: relative;
    }   
}

/* My Work Section */

.my-work{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 0 auto;
    
}

.portfolio__item{
    position: relative;
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img{
    border: 3px solid var(--clr-accent);
    width: 100%;
    height: 100%;
    transition: transform .2s cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__img:hover{
    transform: scale(1.1);
    opacity: .75;
}

.text{
    position: absolute;
    bottom: 0;
    background-color: var(--clr-accent);
    text-decoration: none;
    color: var(--clr-light);
}



